<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storage blob</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/azure/Storage_blob.css') }}">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css"
        integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
    <link href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"
        integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
</head>

<body style="background: transparent;">
    <div class=".model-fullscreen-xxl-down">
        <div class="row-lg-6 row-12 Back-Img">
            <!-- <div class="col-sm-6">&nbsp;</div> --> 
            <div class="col-lg-8 col-12 Form-Content">
                <!-- <div class="form"> -->                    
                <form action="/azure/blob" id="form" method="POST" target="_parent">
                    <!-- header -->
                    <header class="col d-flex align-items-center justify-content-center pt-4">
                        <img src="{{ url_for('static',filename='images/Storage-blog.png') }}" alt="">
                        <h1 class="ms-3 mt-2" style="color: blue;">Storage Blob</h1>
                    </header>
                    <nav class="col d-flex align-items-center justify-content-center ms-3 me-3 mt-3">
                        <div class="col-3 bg-primary "
                            style="border-top-left-radius: 20px;border-bottom-left-radius: 20px; height: 5px;">
                            &nbsp;</div>
                        <div class="col-3" style="height: 5px; background-color: #db4437;">&nbsp;</div>
                        <div class="col-3" style="height: 5px; background-color: #f4b400;">&nbsp;</div>
                        <div class="col-3"
                            style="border-top-right-radius: 20px;border-bottom-right-radius: 20px; height: 5px; background-color: #0f9d58;">
                            &nbsp;</div>
                    </nav>
                    <!-- header -->
                    <div style="text-align: center;">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% for category, message in messages %}
                            {% if category == 'danger' %}
                                <div style="color: red;">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                    </div>
                    <!-- input form -->
                    <div class="col">
                        <div class="input-group">
                            <div class="col d-flex align-items-center "
                                style="justify-content: space-evenly;flex-wrap: wrap;">
                                <label for="ResourceGroup" class="col d-flex align-items-left"
                                    style="justify-content: space-between;">Resource Group ID</label>
                                <div class="col">
                                    <input type="text" name="rgi" id="resourcegroup" placeholder="75efe22a-f54e-4c2a-a805-7b2a0b88e628">
                                    <span class="error"></span>
                                </div>
                            </div>
                        </div>
                        <!-- DropDown -->
                        <div class="col drop-down d-flex align-items-center"
                            style="justify-content: space-evenly; flex-wrap: wrap;">
                            <label for="" class="col d-flex align-items-left"
                                style="justify-content: space-between;">Account Tire Type</label>
                            <!--surround the select box with a "custom-select" DIV element. Remember to set the width:-->
                            <div class="custom-select" style="width: 18rem;position: relative;right: 8px;">
                                <select id="select1" name="att">
                                    <option name="option">Standard</option>
                                    <option name="option" value="Basic">Basic</option>
                                    <option name="option" value="Standard">Standard</option>
                                    <option name="option" value="Primium">Primium</option>
                                </select>
                            </div>
                        </div>
                        <!-- DropDown -->
                        <!-- DropDown -->
                        <div class="col drop-down d-flex align-items-center"
                            style="justify-content: space-evenly;flex-wrap: wrap;">
                            <label for="" class="col d-flex align-items-left"
                                style="justify-content: space-between;">Location </label>
                            <!--surround the select box with a "custom-select" DIV element. Remember to set the width:-->
                            <div class="custom-select" style="width: 18rem;position: relative;right: 8px;">
                                <select id="select1" name="location">
                                    <option name="option">East US</option>
                                    <option name="option" value="Central US">Central US</option>
                                    <option name="option" value="Canada Central">Canada Central</option>
                                    <option name="option" value="Canada East">Canada East</option>
                                    <option name="option" value="East Us">East US</option>
                                    <option name="option" value="East Asia">East Asia</option>
                                    <option name="option" value="East US 2">East US 2</option>
                                    <option name="option" value="US Gov Iowa">US Gov Iowa</option>
                                    <option name="option" value="US Gov Virginia">US Gov Virginia</option>
                                    <option name="option" value="North Central US">North Central US</option>
                                    <option name="option" value="South Central US">South Central US</option>
                                    <option name="option" value="West Central US">West Central US</option>
                                    <option name="option" value="West US">West US</option>
                                    <option name="option" value="North Europe">North Europe</option>
                                    <option name="option" value="West Europe">West Europe</option>
                                    <option name="option" value="East Asia">East Asia</option>
                                    <option name="option" value="Southeast Asia">Southeast Asia</option>
                                    <option name="option" value="Japan East">Japan East</option>
                                    <option name="option" value="Japan West">Japan West</option>
                                    <option name="option" value="Brazil South">Brazil South</option>
                                    <option name="option" value="Brazil Southeast">Brazil Southeast</option>
                                    <option name="option" value="France Central">France Central</option>
                                    <option name="option" value="France South">France South</option>
                                    <option name="option" value="Australia East">Australia East</option>
                                    <option name="option" value="Australia Southeast">Australia Southeast</option>
                                    <option name="option" value="Australia Central">Australia Central</option>
                                    <option name="option" value="Australia Central 2">Australia Central 2</option>
                                    <option name="option" value="Central India">Central India</option>
                                    <option name="option" value="South India">South India</option>
                                    <option name="option" value="West India">West India</option>
                                    <option name="option" value="Southeast Asia">Southeast Asia</option>
                                    <option name="option" value="Qatar Cenntral">Qatar Cenntral</option>
                                    <option name="option" value="Switzerland North">Switzerland North</option>
                                    <option name="option" value="Switzerland West">Switzerland West</option>
                                    <option name="option" value="Sweden Central">Sweden Central</option>
                                    <option name="option" value="UAE Central">UAE Central</option>
                                    <option name="option" value="UAE North">UAE North</option>
                                    <option name="option" value="UK West">UK West</option>
                                    <option name="option" value="UK South">UK South</option>
                                </select>
                            </div>
                        </div>
                        <!-- DropDown -->
                        <!-- DropDown -->
                        <div class="col drop-down d-flex align-items-center"
                            style="justify-content: space-evenly; flex-wrap: wrap;">
                            <label for="" class="col d-flex align-items-left"
                                style="justify-content: space-between;">Account Replication Type </label>
                            <!--surround the select box with a "custom-select" DIV element. Remember to set the width:-->
                            <div class="custom-select" style="width: 18rem;position: relative;right: 8px;">
                                <select id="select1" name="art">
                                    <option name="option">LRS</option>
                                    <option name="option" value="LRS">LRS</option>
                                    <option name="option" value="GRS">GRS</option>
                                    <option name="option" value="RA-GRS">RA-GRS</option>
                                    <option name="option" value="ZRS">ZRS</option>
                                    <option name="option" value="GZRS">GZRS</option>
                                    <option name="option" value="RA-GZRS">RA-GZRS</option>
                                </select>
                            </div>
                        </div>
                        <!-- DropDown -->
                        <div class="input-group">
                            <div class="col d-flex align-items-center "
                            style="justify-content: space-evenly;flex-wrap: wrap;">
                            <label for="StorgeAccount" class="col d-flex align-items-left"
                                style="justify-content: space-between;">Storage Account Name </label>
                            <div class="col">
                                <input type="text" name="san" id="storageAccount" placeholder="my-storage-blob">
                                <span class="error"></span>
                            </div>
                        </div>
                        </div>
                        <div class="col SubCreate d-flex align-items-center "
                            style="justify-content: space-evenly;flex-wrap: wrap;">
                            <label for="" class="col d-flex align-items-left"
                                style="justify-content: space-between;">Container Access Type </label>
                            <div class="col SubCreate d-flex align-items-center"
                                style="gap: 10px;margin-left: 4rem;flex-direction: column;margin-top: 2rem;">
                                <div class="col">
                                    <label>
                                        <input type="radio" name="anyone" value="true" style="display: none;">
                                        <span>True</span>
                                    </label>
    
                                    <label>
                                        <input type="radio" name="anyone" value="False" style="display: none;">
                                        <span>False</span>
                                    </label>
                                </div>
                                <div class="row" style="position: relative;right: 4rem;color: red;">
                                    <p id="output"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center justify-content-center">
                        <footer>
                            <button type="submit" class="button" id="button">Create</button>
                        </footer>
                    </div>
                    <!-- input form -->
                </form>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('select').selectize({
                sortField: 'text'
            });
        });
    </script>
    <script src="{{url_for('static',filename='js/azure/Storage_blob.js')}}"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"
        crossorigin="anonymous"></script>
</body>

</html>