<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RDS</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/aws/RDS.css')}}">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css"
    integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
  <link href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"
    crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"
    integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
</head>

<body style="background: transparent;">
  <div class=".model-fullscreen-xxl-down">
    <div class="row-lg-6 row-12 Back-Img">
      <!-- <div class="col-sm-6">&nbsp;</div> -->
      <div class="col-lg-8 col-12 Form-Content">
        <!-- <div class="form"> -->
        <form action="/aws/rds" id="form" method="POST" target="_parent">
          <!-- header -->
          <header class="col d-flex align-items-center justify-content-center" style="flex-wrap: wrap;">
            <img src="{{url_for('static', filename='images/rds.png')}}" alt="">
            <h1 class="ms-1 mt-2" style="color: rgb(3,1,73);">RDS</h1>
          </header>
          <nav class="col d-flex align-items-center justify-content-center ms-3 me-3 mt-3">
            <div class="col-3" style="height: 5px;">
              &nbsp;</div>
            <div class="col-3" style="height: 5px;">&nbsp;</div>
            <div class="col-3" style="height: 5px;">&nbsp;</div>
            <div class="col-3" style="height: 5px;">
              &nbsp;</div>
          </nav>
          <!-- header -->
          <div style="text-align: center;">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                    {% if category == 'danger' %}
                        <div style="color: red;">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endwith %}
        </div>
          <!-- input form -->
          <div class="col">
            <!-- DropDown -->
            <div class="col drop-down d-flex align-items-center" style="justify-content: space-evenly;flex-wrap: wrap;">
              <label for="" class="col d-flex align-items-left" style="justify-content: space-between;">Region </label>
              <!--surround the select box with a "custom-select" DIV element. Remember to set the width:-->
              <div class="custom-select" style="width: 18rem;position: relative;right: 12px;">
                <select id="select1" name="region">
                  <option name="option">eu-west-1</option>
                  <option name="option" value="us-east-2">us-east-2</option>
                  <option name="option" value="us-east-1">us-east-1</option>
                  <option name="option" value="us-west-1">us-west-1</option>
                  <option name="option" value="us-west-2">us-west-2</option>
                  <option name="option" value="af-south-1">af-south-1</option>
                  <option name="option" value="ap-east-1">ap-east-1</option>
                  <option name="option" value="ap-south-2">ap-south-2</option>
                  <option name="option" value="ap-southeast-3">ap-southeast-3</option>
                  <option name="option" value="ap-southeast-4">ap-southeast-4</option>
                  <option name="option" value="ap-south-1">ap-south-1</option>
                  <option name="option" value="ap-northeast-3">ap-northeast-3</option>
                  <option name="option" value="ap-northeast-2">ap-northeast-2</option>
                  <option name="option" value="ap-southeast-1">ap-southeast-1</option>
                  <option name="option" value="ap-southeast-2">ap-southeast-2</option>
                  <option name="option" value="ap-northeast-1">ap-northeast-1</option>
                  <option name="option" value="ca-central-1">ca-central-1</option>
                  <option name="option" value="eu-central-1">eu-central-1</option>
                  <option name="option" value="eu-west-1">eu-west-1</option>
                  <option name="option" value="eu-west-2">eu-west-2</option>
                  <option name="option" value="eu-south-1">eu-south-1</option>
                  <option name="option" value="eu-west-3">eu-west-3</option>
                  <option name="option" value="eu-south-2">eu-south-2</option>
                  <option name="option" value="eu-north-1">eu-north-1</option>
                  <option name="option" value="eu-central-2">eu-central-2</option>
                  <option name="option" value="il-central-1">il-central-1</option>
                  <option name="option" value="me-south-1">me-south-1</option>
                  <option name="option" value="me-central-1">me-central-1</option>
                  <option name="option" value="sa-east-1">sa-east-1</option>
                  <option name="option" value="us-gov-east-1">us-gov-east-1</option>
                  <option name="option" value="us-gov-west-1">us-gov-west-1</option>
                </select>
              </div>
            </div>
            <!-- DropDown -->
            <div class="input-group">
              <div class="col d-flex align-items-center " style="justify-content: space-evenly; flex-wrap: wrap;">
                <label for="InstanceName" class="col d-flex align-items-left" style="justify-content: space-between;">Instance Name
                </label>
                <div class="col">
                  <input type="text" name="name" id="InstanceName" placeholder="dev-instance">
                  <span class="error"></span>
                </div>
              </div>
            </div>
            <div class="input-group">
              <div class="col d-flex align-items-center " style="justify-content: space-evenly; flex-wrap: wrap;">
                <label for="UserName" class="col d-flex align-items-left" style="justify-content: space-between;">User Name
                </label>
                <div class="col">
                  <input type="text" name="db_user" id="userName" placeholder="dev">
                  <span class="error"></span>
                </div>
              </div>
            </div>
            <div class="input-group">
              <div class="col d-flex align-items-center " style="justify-content: space-evenly; flex-wrap: wrap;">
                <label for="Password" class="col d-flex align-items-left" style="justify-content: space-between;">Password
                </label>
                <div class="col">
                  <input type="password" name="db_password" id="password" placeholder="foobarbaz">
                  <span class="error"></span>
                </div>
              </div>
            </div>
            <div class="input-group">
              <div class="col d-flex align-items-center " style="justify-content: space-evenly; flex-wrap: wrap;">
                <label for="DBname" class="col d-flex align-items-left" style="justify-content: space-between;">DB Name </label>
                <div class="col">
                  <input type="text" name="db_name" id="dbName" placeholder="mydb">
                  <span class="error"></span>
                </div>
              </div>
            </div>
            <!-- DropDown -->
            <div class="col drop-down d-flex align-items-center" style="justify-content: space-evenly;flex-wrap: wrap;">
              <label for="" class="col d-flex align-items-left" style="justify-content: space-between;">Instance class
              </label>
              <!--surround the select box with a "custom-select" DIV element. Remember to set the width:-->
              <div class="custom-select" style="width: 18rem;position: relative;right: 12px;">
                <select id="select1" name="instance_class">
                  <option name="option">db.t3.micro</option>
                  <option name="option" value="db.t3.micro">db.t3.micro</option>
                  <option name="option" value="c3.large">c3.large</option>
                  <option name="option" value="c3.xlarge">c3.xlarge</option>
                  <option name="option" value="c3.2xlarge">c3.2xlarge</option>
                  <option name="option" value=" c3.4xlarge"> c3.4xlarge</option>
                  <option name="option" value="c3.8xlarge">c3.8xlarge</option>
                  <option name="option" value="g2.2xlarge">g2.2xlarge</option>
                  <option name="option" value="i2.xlarge">i2.xlarge</option>
                  <option name="option" value="m1.small">m1.small</option>
                  <option name="option" value="m2.xlarge">m2.xlarge</option>
                  <option name="option" value="m3.medium">m3.medium</option>
                  <option name="option" value="r3.large">r3.large</option>
                  <option name="option" value="r5ad">r5ad</option>
                  <option name="option" value="24xlarge">24xlarge</option>
                  <option name="option" value="r5b.16xlarge">r5b.16xlarge</option>
                  <option name="option" value=" r5n.4xlarge"> r5n.4xlarge</option>
                  <option name="option" value="r5dn.2xlarge">r5dn.2xlarge</option>
                  <option name="option" value="r6i.16xlarge">r6i.16xlarge</option>
                  <option name="option" value="r6gd.medium">r6gd.medium</option>
                </select>
              </div>
            </div>
            <!-- DropDown -->
            <div class="input-group">
              <div class="col d-flex align-items-center " style="justify-content: space-evenly; flex-wrap: wrap;">
                <label for="VpcID" class="col d-flex align-items-left" style="justify-content: space-between;">VPC ID </label>
                <div class="col">
                  <input type="text" name="vpc_id" id="vpcId" placeholder="devops_db">
                  <span class="error"></span>
                </div>
              </div>
            </div>
            <div class="col d-flex align-items-center justify-content-center">
              <footer>
                <button type="submit" class="button" id="button">Create</button>
              </footer>
            </div>
            <!-- input form -->
        </form>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $('select').selectize({
        sortField: 'text'
      });
    });
  </script>
  <script src="{{url_for('static', filename="js/aws/RDS.js")}}"></script>
  <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.bundle.min.js') }}"
    crossorigin="anonymous"></script>

</body>

</html>